##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
#Code goes here
mahasiswa=" "

2. > Create a variable containing your name (Points : 5)

In [1]:
#Code goes here
mahasiswa="Ravina Armiani"

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [ ]:
#Code goes here
barang=("buku","pena","pensil","penghapus","tas")

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [8]:
#Code goes here
mahasiswa={
    "nama":["Ravina","Dinda"],
    "NIM":[201900148,201900145]
}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [9]:
#Code goes here
#pelanggan membeli 20 barang elektronik dan mendapatkan diskon 10%
price=12000
q_s=20
dis=0.1
h1=price*q_s#h1(hasil 1)menghitung total price dikali quantity_sold
h2=h1*dis#h2(hasil 2)menhitung total h1 dikali diskon(0.1)
totalbyr=h1-h2
totalbyr

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [13]:
# Create list of countries in the world (total 7 countries) (Points : 5)

#Code goes here
countries=["Indonesia","Cina","Jepang","Malaysia","Korea","Inggris","Belanda"]

In [58]:
# Get 4 countries from the first index of the list (Points : 5)

#Code goes here
countries[0:4]

['Indonesia', 'Cina', 'Jepang', 'Malaysia']

In [55]:
# Append new country to the list (Points : 5)

#Code goes here
countries.append("Brazil")
print(countries)

['Indonesia', 'Cina', 'Jepang', 'Malaysia', 'Korea', 'Inggris', 'Belanda', 'Brazil']

In [56]:
# Drop one country from the list (Points : 5)

#Code goes here
countries.remove("Korea")
print(countries)

['Indonesia', 'Cina', 'Jepang', 'Malaysia', 'Inggris', 'Belanda', 'Brazil']

In [57]:
# Get country in the last index (Points : 5)

#Code goes here
countries[6]

'Brazil'

# Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [70]:
# Print all keys in customer (Points : 5)

#Code goes here
customer.keys()

dict_keys(['name', 'age', 'gender', 'membership'])

In [71]:
# Print all customer names (Points : 5)

#Code goes here
customer.get("name")

['Dio', 'Eka', 'Wayu', 'Riki']

In [74]:
# Print the first customer name (Points : 5)

#Code goes here
customer["name"][0]

'Dio'

In [87]:
# Drop "age" key from the dictionary (Points : 5)

#Code goes here
del customer["age"]
print (customer)

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'gender': [1, 0, 0, 1], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [89]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 


#Code goes here
for i in range(len(customer["gender"])):
 
  #replace 1 with Male
  if customer["gender"][i] == 1:
    customer["gender"][i] = "Male"

  #replace 2 with Famale
  if customer["gender"][i] == 0:
    customer["gender"][i] = "Famale"
customer["gender"]

['Male', 'Famale', 'Famale', 'Male']